<mat-card>
  <mat-card-title fxLayout>
    <span>Customers</span>
  </mat-card-title>
  <div fxLayoutAlign="start baseline">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput [formControl]="filterInput">
      <button mat-button matSuffix mat-icon-button *ngIf="filterInput.value"
        aria-label="Clear" (click)="filterInput.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-icon *ngIf="!filterInput.value" matSuffix>filter_list</mat-icon>
    <span fxFlex> </span>
    <button class="addButton" mat-mini-fab (click)="addCustomer()">
      <mat-icon aria-label="Add Customer">add</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="(customers$ | async) || []">
    <ng-container matColumnDef="actions">
      <!-- The matColumnDef value above must match a name in the displayColumns array  -->
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let customer">
        <button mat-icon-button (click)="viewDetail(customer)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <!-- The matColumnDef value above must match a name in the displayColumns array  -->
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let customer"> {{customer.firstName}} {{customer.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <!-- The matColumnDef value above must match a name in the displayColumns array  -->
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="emailAddress">
      <!-- The matColumnDef value above must match a name in the displayColumns array  -->
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let customer"> {{customer.emailAddress}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <!-- The matColumnDef value above must match a name in the displayColumns array  -->
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let customer">
        <div class="row-spaced" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon [svgIcon]="customer.status | statusIcon"></mat-icon>
          {{customer.status}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <!-- The matColumnDef value above must match a name in the displayColumns array  -->
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let customer"> {{customer.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</mat-card>
